header {
    background-color: #050505;
    height: 40px; /* Adjust the height as needed */
    color: aliceblue;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 20px; /* Add padding to create some spacing around the content */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content:space-evenly;
    gap: 100px;
  }
  
  /* Style for the logo */
  
  .logo-img {
    position: relative;
    background-size: 'cover';
    background-position: 'center';
    justify-self: center;
    height: 40px;
    width: 80px;
    right: 20px;
  }
  
  /* Style for the navigation menu */
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav li {
    margin-right: 10px; /* Add some spacing between menu items */
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }
  
  
  
  
  
  
  